---
import "../styles/1-globals.css";
const TITLE = "sammy samkough cv";
const DESCRIPTION = "cv of sammy samkough";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{TITLE}</title>
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content="https://cv.sammy.pizza" />
    <meta property="og:site_name" content={TITLE} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
